.profile.container
  .header
    .profile_back
      = link_to root_path do
        = image_tag 'back.svg', class: 'header_left'
    .profile_name
      %p= current_user.name
  .profile_avatar
    = image_tag current_user.avatar_image, class: 'profile_image'
  .profile_form
    = form_with(model: @profile, url: profile_path, method: 'PUT', local: true) do |f|
      %div
        = f.file_field :avatar, class: 'avatar-select'
      = f.submit '保存', class: 'avatar-btn'
  .profile_info
    .profile_info_posts
      %p.profile_info_num= current_user.articles.count
      %p.profile_info_text Posts
    .profile_info_followers
      %p.profile_info_num=current_user.followers.count
      %p.profile_info_text Followers
    .profile_info_following
      %p.profile_info_num=current_user.followings.count
      %p.profile_info_text Following
  - current_user.articles.each do |article|
    .container
      .article
        .article_nav
          = link_to account_path(article.user) do
            = image_tag article.user.avatar_image, class: 'article_nav_avatar'
          .article_nav_text
            .article_nav_text_name
              %p= article.user.name
            .article_nav_text_time
              %p= article.display_created_at
        .article_content
          - article.images.each do |images| 
            = image_tag images, class: 'article_content_image'
        .article_action
          - if user_signed_in?
            .article_heart.active-heart.hidden{:id => article.id}
              = image_tag 'heart-active.png', class: 'article_icon'
            .article_heart.inactive-heart.hidden{:id => article.id}
              = image_tag 'heart.png', class: 'article_icon'
            - if current_user.has_written?(article)
              = link_to article_path(article), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' } do
                = image_tag 'trash.png', class: 'article_icon'
          = image_tag 'comment.png', class: 'article_icon'
          = image_tag 'share.png', class: 'article_icon share-twitter'
        .article_text
          .article_user_name
            %p= article.user.name 
          .article_text_content
            %p= article.content

= javascript_pack_tag 'article'