.container
  .header
    = link_to root_path do
      = image_tag 'back.svg', class: 'header_left'
    %div
      %p.page_title コメント
  - @comment.errors.full_messages.each do |message|
    %li= message
  .comment#comment-index{data: {article_id: @article.id}}
    - if @comments.present?
      .comments-container
  - if user_signed_in?
    = form_with(model: [@article, @comment], class: 'js-form') do |f|
      .comment_form
        .comment_form_container
          %label.comment_create-icon
            = image_tag 'comment.png'
            = f.submit
          = f.text_area :content, class: 'comment_text-area'

= javascript_pack_tag 'article'