.container
  .header
    = link_to :back do
      = image_tag 'back.svg', class: 'header_left'
    %div
      %p.page_title コメント
  - @comment.errors.full_messages.each do |message|
    %li= message
  .comment#comment-index{data: {article_id: @article.id}}
    - if @comments.present?
      .comments-container
  - if user_signed_in?
    .comment_form
      .comment_form_container
        %label.comment_create-icon
          = image_tag 'comment.png'
        = text_area_tag :comment_content, '', class: 'sm'

= javascript_pack_tag 'article'